@charset "UTF-8";
/*
Pequenas telas- até 600px
celular - 600px 768px
tablet - 768px 992px
Desktop - 992px 1200px 
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    --cor1: #3321A6;
    --cor2: #070A40;
    --cor3: #04D9B2;
    --cor4: #E4E9F2;
    --cor5: #2D4BA6;
}

/*Celular*/
@media screen and (min-width: 600px) {
    .nav-list li {
        font-size: 16px;
    }  

    .content {
        width: 80%;
    }

    #title {
        font-size: 30px;
    }
    .depoimentos-box {
        width: 60%;
    }
}




@media screen and (min-width: 992px) {
    nav h1 {
        font-size: 32px;
    }
    .nav-list li{
        font-size: 20px;
    }

    .imagemP {
        display: none;
    }

    .ja-container, .cursos-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: 100vh;
    }

    .imagem {
        display: flex;
        justify-content: center;
        max-width: 100%;
        width: 50%;
        height: 50%;
    }

    .content button {
        height: 6vh;
        margin-top: 90px;
    }

    .content button a {
        font-size: 20px;
    }

    .ja-container .imagem {
        min-height: 100%;
        width: 90%;
    }
    
    .ja-container .imagemM {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .cursos-container .imagem {
        min-height: 100%;
        width: 100%;
    }
    .cursos-container .imagemM {
        display: block;
        width: 100%;
        height: 100%;

    }

#title {
    font-size: 40px;
    margin-top: 60px;
}

.depoimentos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 250px;
    gap: 10px;
    height: 100vh;
}
}

/*Telas Grandes*/

@media screen and (min-width: 1200px){
    
    .depoimentos-container{
        width: 100%;
        height: 100vh;
    }
    .depoimentos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 10px;
        height: 80vh;
        height: 60vh;
        width: 90%;

        margin: auto;
        margin-top: 50px;
    }

    .depoimentos-box {
        width: 90%;
        grid-row: 2;

        
    }
}