@charset "UTF-8";
/*Desktop*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    
.caixa {
    width: 80%;
    height: 70vh;
}

.caixa h1 {
    font-size: 50px;
}

.caixa .texto {
    margin-top: 12px;
    font-size: 16px;
}

.caixa .botao {
    width: 30%;
}
.cursos .botao {
    width: 40%;
}

.imagens {
    height: 780px;
}

.imagens img {
    width: 70%;
    height: 780px;
}
.cursos img {
    width: 100%;
    margin-left: 10px;
}
.box {
    width: 18%;
}
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px){

    .caixa {
        width: 80%;
        height: 70vh;
    }
    
    .caixa h1 {
        font-size: 40px;
    }
    
    .caixa .texto {
        margin-top: 12px;
        font-size: 14px;
    }
    
    .caixa .botao {
        width: 40%;
    }
    .cursos .botao {
        width: 50%;
    }
    
    .imagens {
        height: 760px;
    }
    
    .imagens img {
        width: 80%;
        height: 780px;
        margin-left: 10px;
    }
    .cursos img {
        width: 100%;
        
    }
    .box {
        width: 18%;
    } 
}
/*Celular*/
@media screen and (min-width: 600px) and (max-width: 768px){

    .caixa {
        width: 100%;
        height: 70vh;
    }
    
    .caixa h1 {
        font-size: 35px;
    }
    
    .caixa .texto {
        margin-top: 12px;
        font-size: 14px;
    }
    
    .caixa .botao {
        width: 40%;
    }

    .cursos .caixa {
        margin-left: 0px;
    }

    .cursos .botao {
        width: 50%;
    }
    
    .imagens {
        height: 500px;
        margin-top: 280px;
    }
    
    .imagens img {
        width: 80%;
        height: 500px;
        margin-left: 25px;
    }

    .cursos img {
        width: 100%;
        margin-left: 2px;
    }

    .depoimentos h1 {
        font-size: 30px;
    }
    .box {
        width: 90%;
        height: 150px;
        grid-row: 2 / 1;
    } 
    .box h3{
    font-size: 14px;
    }
    .box p {
        font-size: 10px;
    }
}
/*Pequenas telas*/
@media screen and (max-width: 600px){

    nav h1{
        font-size: 16px;
    }

    nav li {
        font-size: 8px;
       
    }
    .nav-list li {
        letter-spacing: 1px;
    }


    .depoimentos h1 {
        font-size: 30px;
    }
    .box {
        width: 90%;
        height: 150px;
        grid-row: 2 / 1;
    } 
    .box h3{
    font-size: 14px;
    }
    .box p {
        font-size: 10px;
    }
}