@charset "UTF-8";
/*
Pequenas telas- até 600px
celular - 600px 768px
tablet - 768px 992px
Desktop - 992px 1200px 
*/

/*Celular*/
@media screen and (min-width: 600px){
    .nav-list li {
        font-size: 16px;
    }

    /*Página de Login*/

    .login {
        width: 80%;
    }

    /*Página de cursos*/
    .curso {
        width: 60%;
    }
    .curso-img{
        width: 80px;
    }

     /*Página de Vagas*/

     .enc_vagas{
        font-size: 40px;
        margin-top: 20px;
     }
     .vagas {
        width: 60%;
    }

    .empresa-img{
        width: 80px;
    }
    .container-vagas h1 {
        font-size: 25px;
    }
}


@media screen and (min-width: 992px) {
    nav h1 {
        font-size: 32px;
    }
    .nav-list li{
        font-size: 20px;
    }

    /*Página de Login*/
    #notebook2 {
        display: none;
    }

    .login-container {
        width: 90%;
        height: 50vh;
        background-color: var(--cor4);
        box-shadow: 4px 4px rgba(0, 0, 0, 0.24);
    }
    .imagens {
        width: 50%;
    }
    #notebook1 {
        box-sizing: border-box;
        width: 85%;
        height: 50vh;
    }
    .login {
        width: 55%;
        box-shadow: none;
        margin-right: 50px;
    }

    /*Página de cursos*/
    .body-cursos {
        height: 100vh;
    }

    .container-cursos {
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 240px;
        gap: 20px;
        height: 100%;
    }
    .curso {
        width: 90%;
    }

    /*Página de Vagas*/
    
    .body-vagas {
        height: 100vh;
    }
    .container-vagas {
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 240px;
        gap: 20px;
        height: 100%;
    }
    .vagas {
        width: 90%;
        height: 40vh;
    }

}

@media screen and (min-width: 1200px) {

    /*página do curso*/
    
    .body-cursos {
        margin-top: 50px;
        height: 100vh;
    }

    .cur-preparatorio{
        font-size: 50px;
    }
    .container-cursos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 10px;
        height: 50vh;
        margin-top: 30px;
    }
    .curso {
        grid-row: 2;
    }

    /*Página de Vagas*/

    .enc_vagas {
        font-size: 50px;
        margin-top: 70px;
    }
    .body-vagas {
        height: 100vh;
    }
    .container-vagas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 10px;
        height: 50vh;
    }
    .vagas {
        grid-row: 2;
    }


    .vagas:hover {
        height: 40vh;
    }
}

