@charset "UTF-8";
/*
Pequenas telas- até 600px
celular - 600px 768px
tablet - 768px 992px
Desktop - 992px 1200px 
*/

/*Celular*/
@media screen and (min-width: 600px){
    .nav-list li {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    nav h1 {
        font-size: 32px;
    }
    .nav-list li{
        font-size: 20px;
    }
}