@charset "UTF-8";
@media screen and (min-width: 300px) {
    

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    --cor1: #3321A6;
    --cor2: #070A40;
    --cor3: #04D9B2;
    --cor4: #E4E9F2;
    --cor5: #2D4BA6;
}


nav {
    background-color:var(--cor2);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;

}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: 12px;
}

nav h1 {
    color: white;
    
}
li > a { 
    color: white;
    text-decoration: none;
}



}