@charset "UTF-8";
@media screen and (min-width: 300px) {
    

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    --cor1: #3321A6;
    --cor2: #070A40;
    --cor3: #04D9B2;
    --cor4: #E4E9F2;
    --cor5: #2D4BA6;
}

.imagemG, .imagemM {
    display: none;
}

nav {
    background-color:var(--cor2);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;

}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: 12px;
}

nav h1 {
    color: white;
}
li > a { 
    color: white;
    text-decoration: none;
}

li a:hover {
    color: darkgray;
}

/*Geral*/
.ja-container, .cursos-container {
    box-sizing: border-box;
    width: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/*Jovem Aprendiz*/
.ja-container {
    background-color: var(--cor5);
}

.imagem {
    max-width: 300px;
    max-height: 300px;
    width: 90%;
    height: 35vh;
    margin: auto;
}

.imagemP {
    width: 100%;
    height: 100%;
}



.content {
    margin: auto;
    color: white;
    
}   
.content h1 {
    
    width: 90%;
    margin: auto;
}

.content p {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.content button {
    width: 60%;
    height: 4vh;
    display: flex;
    margin: auto;
    margin-block: 15px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: var(--cor2);
}

.content button:hover {
    border: 1px solid var(--cor3);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.301);
}

button a {
    margin: auto;
    text-decoration: none;
    color: white;
}

/*Cursos Preparatórios*/
.cursos-container {
    background-color: var(--cor1);
}

/*Depoimentos*/

.depoimentos-container {
    background-color: var(--cor5);
    color: white;
    padding-top: 5px;
}


.depoimentos {
    background-color: var(--cor5);
    height: 120vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px ;
    
}

#title {
    
    width: 90%;
    margin: auto;
    font-size: 22px;
    text-align: center;
    margin-top: 8px;
}

.depoimentos-box{
    width: 80%;
    height: 40vh;
    margin: auto;
    margin-top: 30px;
    background-color: var(--cor2);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.164);
    border:  2px solid black ;
    border-radius: 8px 8px;
}

.depoimentos-box h1 {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.depoimentos-box h3 {
    font-size: 10px;
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 5px;
}

.depoimentos-box p {
    font-size: 10px;
}

}