@charset "UTF-8";
@import './mediaQuery2.css';

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    --cor1: #3321A6;
    --cor2: #070A40;
    --cor3: #04D9B2;
    --cor4: #E4E9F2;
    --cor5: #2D4BA6;
}

/* Jovem Aprendiz */

body {
background-color: var(--cor1);
width: 100%;
height: 100vh;

}

nav {
background-color:var(--cor2);
border: 1px solid rgb(0, 0, 0);
display: flex;
justify-content: space-around;
align-items: center;
height: 76px;

}

.nav-list{
list-style: none;
display: flex;
}

.nav-list li {
font-size: 12px;
letter-spacing: 0px;
margin-left: 12px;
}

nav h1 {
color: white;

}
li > a { 
color: white;
text-decoration: none;
}

li a:hover {
    color: darkgray;
}

main {
min-width: 300;
max-width: 1000;
margin: auto;
background-color: var(--cor4);
width: 90%;
height: 120%;
border-radius: 6px;
margin-top: 60px;
padding-bottom: 20px;
}

main h1 {
margin: auto;
text-align: center;
width: 80%;
font-size: 38px;
padding-top: 60px;
}

main p {
padding-top: 10px;
margin: auto;
width: 80%;

}

main h2 {

text-align: center;
margin: auto;
width: 80%;
font-size: 34px;
padding-top: 20px;
}

main ul {
margin: auto;
width: 80%;
}
main li {
list-style: none;
}
main h3 {
text-align: center;
margin: auto;
width: 80%;
padding: 10px;
font-size: 26px;
}

/*LOGIN*/
@media screen and (max-width: 991px) {
    #notebook2, #notebook1 {
        display: none;
    }
}
.login-container {
    
    height: 50vh;
    display: flex;
    margin: auto;
    margin-top: 100px;
    max-width: 700px;
    min-width: 300px;
}

.login {
    background-color: var(--cor4);
    color: rgb(0, 0, 0);
    margin: auto;
    width: 90%;
    height: 45vh;
    display: block;
    border-radius: 4px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.247);
}

.login h1 {
    margin-top: 20px;
    font-size: 44px;
}

.login input {
    box-sizing: border-box;
    width: 100%;
 
}

.input-box {
    padding: 10px 0px;
    width: 90%;
    margin: auto;
}

.input-box input {
    border: 0 none;
    border-radius: 4px;
    padding: 5px;
}

#email:hover, #senha:hover {
    border: 1px solid rgba(46, 37, 37, 0.445);
    padding: 8px;
}

#esq-senha a {
    color: rgba(0, 0, 0, 0.315);
    text-decoration: none;
    font-size: 12px;
    padding: 8px 15px;
}
#esq-senha a:hover {
    color:var(--cor2)
}
button {
    display: flex;
    margin: auto;
    margin-top: 30px;

    width: 50%;
    padding: 5px;

    border-radius: 8px;
    border: 1px ;

    background-color: var(--cor2);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.062);
}

button:hover {
    border: 1px solid black;
    width: 52%;
}
button a {
    margin: auto;
    color: white;
    text-decoration: none;
}

.nconta{
    width: 40%;
    font-size: 10px;
    display: flex;
    margin: auto;
    margin-top: 4px;
    
}

.nconta p {
    margin: auto;
    color: rgba(0, 0, 0, 0.63);
}

.cad-link {
    width: 40%;
    margin: auto;
    text-align: center;
}

.cad-link a {
    color: rgba(0, 0, 0, 0.63);
    font-size: 10px;
    text-align: center;
}

.cad-link a:hover{
    color: var(--cor2);
}

/*Página de Cursos*/

.cur-preparatorio {
    margin-top: 20px;
    color: white;
    text-align: center; 
}

#texto {
    color: rgb(231, 222, 222);
    text-align: center;
}
.container-cursos {
    margin: auto;
    width: 90%;
    height: 180%;
    
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;

}

.container-cursos h1 {
    font-size: 25px;
}
.curso {
    border: 1px solid black;
    background-color: var(--cor2);
    border-radius: 8px 8px 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    height: 45vh;
    
    color: white;
}

.curso:hover {
    width: 92%;
    height: 44vh;
    transition-delay: 0,8s;

    border: 2px solid var(--cor3);
}

.curso-img {
    width: 90px;
    border-radius: 100px;
    display: flex;
    margin: auto;
    

}

.curso h1 {
    border: 1px solid var(--cor3);
    text-align: center;
    padding: 8px;
    margin: 10px;
}

.curso p {
    text-align: center;
}

/*Página de Vagas*/

.body-vagas {
    background-color: var(--cor1);
    color: white;
    width: 100%;
    height: 200%;
    box-sizing: border-box;
}

.enc_vagas {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.container-vagas {
    margin: auto;
    width: 90%;
    height: 90%;
    
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;

}

.vagas {
    text-decoration: none;
    border: 1px solid black;
    background-color: var(--cor2);
    border-radius: 8px 8px 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    
    margin: auto;
    width: 90%;
    height: 45vh;
    margin-bottom: 10px;
    color: white;
}

.vagas:hover {
    width: 92%;
    height: 44vh;
    border: 2px solid var(--cor3);
}

.empresa-img {
    width: 30%;
    border-radius: 100px;
    display: flex;
    margin: auto;
    

}

.vagas h1 {
    border: 1px solid var(--cor3);
    text-align: center;
    padding: 8px;
    margin: 10px;
}

.vagas p {
    text-align: center;

}